.body{
    font-family: 'Playfair Display', serif;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    
}
.Half-Width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 20px;
    padding-top: 100px;
}
.Half-Width img{
    width: 100%;

}
.One-third{
    width: 30%;
    float: left;
    margin-left: 1%;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    position:static;
    box-shadow: 10px 10px 40px gray ;
     border-radius: 5px;
     background-color: white;
     border-radius: 10px;
}
.One-third img{
    width: 100%;
}

p{
    text-align: justify;
    font-size: 20px;
}

.pink-highlight{
    color: rgb(235, 79, 131);
    font-weight: 1000;
    font-size: 100px;
}
.h2{
    font-size: 30px;
}
.Top-Banner{
    background-image: url("images/01.gif");
    background-repeat: no-repeat;
    background-size:cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.Mid-Banner{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Bottom-Banner{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    height: 900px;
    padding-bottom: 108px;
}
.button{
    text-decoration: none;
    border-radius: 2px;
    background-image: linear-gradient(69deg, rgb(235, 79, 131), rgb(250, 110, 110));
    padding: 10px 20px;
    color: white;
    font-weight: bolde;

}
.button:hover{
    background-image: linear-gradient(69deg, lightblue,rgb(58, 58, 255));
}

.footer{
    text-align: center;
    font-size: 5px;
    color: white;
}
footer{
    background-image: url("images/03.gif");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0px;
    padding: 0px;
}
.button-footer{
    
    text-decoration: none;
    padding : 20px 40px;
    font-size: 13px;
    border-radius: 3px;
    background-image: linear-gradient(69deg, rgb(235, 79, 131), rgb(250, 110, 110));
    color: white;
    font-weight: bolde;
    text-align: center;  
    position:absolute;
    left: 40%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}
.button-footer:hover{
    background-image: linear-gradient(69deg, lightblue,rgb(58, 58, 255));
}